<div class="navbar">
    <div class="container">
        <a href="#" class="navbar-brand navbar-left">Logo</a>
        <nav class="navbar-nav navbar-right">
            <span class="navbar-input">
                <label for="layers">
                    <svg class="icon"><use xlink:href="#layers"></use></svg>
                    Layer:
                    <select name="layers">
                            <option value="Settings">Settings</option>
                            <option value="Tools">Tools</option>
                            <option value="Generic">Generic</option>
                            <option value="Base">Base</option>
                            <option value="Objects">Objects</option>
                            <option value="Components">Components</option>
                            <option value="Theme">Theme</option>
                            <option value="Utilities">Utilities</option>
                    </select>
                </label>
            </span>
            <a href="references.html">
                <svg class="icon"><use xlink:href="#library_books"></use></svg>
                References
            </a>
            <a href="settings.html">
                <svg class="icon"><use xlink:href="#settings"></use></svg>
                Settings
            </a>
        </nav>
    </div>
</div>
